<table>
  <tr>
    <th>Barcode</th>
    <th>Description</th>
    <th>Status</th>
  </tr>
  {{#each barcode}} {{#unless active}}
  <tr id="{{UPC}}">
    <td class="upc">{{UPC}}</td>
    <td><textarea class="text" maxlength="50" placeholder="{{description}}"></textarea></td>
    <td class="status">{{status}}</td>
    <td><button class="btn btn-default" data-id="{{UPC}}">Save</button></td>
  </tr>
  {{/unless}} {{/each}}
</table>
